/* game.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px; /* Adjust this value to change the maximum size of the game board */
    margin: auto;
  }
  
  .cell {
    width: 20%; /* Each cell takes up 20% of the game board's width, so there are 5 cells per row */
    aspect-ratio: 1 / 1; /* Make the cells square */
  }
  
  @media (max-width: 600px) {
    .cell {
      width: 50%; /* On small screens, each cell takes up 50% of the game board's width, so there are 2 cells per row */
    }
  }

.cell {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    user-select: none;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

.direction {
    font-size: 24px; /* Adjust this value to change the size of the icons */
    width: 50px; /* Adjust this value to change the width of the buttons */
    height: 50px; /* Adjust this value to change the height of the buttons */
    text-align: center;
  }

  #info > div {
    margin-bottom: 20px; /* Adjust this value to change the space between the elements */
  }