body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#gameBoard {
    display: grid;
    grid-gap: 1px;
    width: 500px;
    height: 500px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
}

#modeSwitch, #restartButton {
    margin: 10px;
}

.direction {
    margin: 5px;
}

#gridSizeOptions {
    display: none;
}