/* game.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 500px;
    height: 500px;
    background-color: #4caf50;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cell {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    user-select: none;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

.direction {
    font-size: 24px; /* Adjust this value to change the size of the icons */
    width: 50px; /* Adjust this value to change the width of the buttons */
    height: 50px; /* Adjust this value to change the height of the buttons */
    text-align: center;
  }